html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /* vertical-align: baseline; */
    list-style: none;
}
body {
    font-family: Arial, Helvetica,"\5FAE\8F6F\96C5\9ED1";-webkit-text-size-adjust:100%;
    background-size: 320px;
    color: #333;
    font-size: 12px;
}
/**
 * Marquee 样式定义
 */
#container-marquee {
  position: absolute;
  display: inline-block;
  margin: 16px 0;
  color: #335a8b;
  height: 48px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  line-height: 48px;
  font-size: 40px;
  text-align: center;
  li {
    padding: 0 80px;
  }
}